<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log page</title>

    <style>
        table{
            height: 300px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
    <!-- <h1>log page</h1>
    <%= user_key %>조 로그인 성공

    <a href="/login/logout_process">로그아웃</a>
    <br>
    <a href="/">메인</a>
    <a href="/log">로그</a>

    <hr> -->

    <h1>PH</h1>

    <input type="date" id="start_date">
    <input type="time" id="start_time">
     ~ 
    <input type="date" id="end_date">
    <input type="time" id="end_time">

    <button onclick="log_search()">검색</button>


    <table border="1">
        <tr>
            <th>no</th>
            <th>PH</th>
            <th>date</th>
        </tr>
        <% for(let i=0; i<db_data.length; i++){ %>
            <tr>
                <td> 
                    <%= db_data[i]["PH_key"] %>
                </td>
                <td> 
                    <%= db_data[i]["PH"] %>
                </td>
                <td> 
                    <%= db_data[i]["date"] %>
                </td>
            </tr>
        <% } %>
    </table>

    <div id="paging">

    </div>

    <script>
        /*
            err: 페이지 이동 시 검색어 초기화
        */
        function log_search(){
            let start_input = document.getElementById("start_date").value + " "+ document.getElementById("start_time").value;
            let end_input = document.getElementById("end_date").value + " "+ document.getElementById("end_time").value;

            let start = new Date(start_input);            
            let end = new Date(end_input);

            console.log(end);
            if((start_input==" " || end_input==" ")  || start > end){
                alert("잘못된 날짜 입력");
            } else{
                location.href=`/log?start=${start_input}&end=${end_input}`;
            }
        }
    </script>

    <!-- 페이징 -->
    <script>
        const paging = document.getElementById("paging");

        let page = Number("<%= currentPage %>");
        let page_cnt = Number("<%= cnt %>");

        startPage = ((page-1)/5)* 5+1 -2;
        endPage = startPage + 5;

        if(endPage > page_cnt+1) {
            endPage=page_cnt+1;
            startPage=page-2;
        }
        if(startPage < 1) {
            startPage = 1;
            endPage = page+5;
        }
        if(endPage > page_cnt){
            endPage = page_cnt+1
        }

        let inner = ``;
        if (startPage > 1){
            inner += `<a href="?page=1">처음 페이지</a> `;
        }
        if (page > 1){
            inner += `<a href="?page=${page-1}">이전</a> `;
        }

        for(let i=startPage; i<endPage; i++){
            if(i == page){
                inner += `<a href="?page=${i}"><b>${i}</b></a> `;
            } else{
                inner += `<a href="?page=${i}">${i}</a> `;
            }
        }

        if (page < page_cnt){
            inner += `<a href="?page=${page+1}">다음</a> `;
        }
        if (endPage < page_cnt){
            inner += `<a href="?page=${page_cnt}">마지막페이지</a> `;
        }
        paging.innerHTML = inner;
    </script>

    
</body>
</html>